.section {
  position: relative;
  height: 60vh;
  padding: 5rem;
  background-color: rgba(0, 0, 0, 0.5);

  .header {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
    max-width: 30rem;
  }

  button {
    margin-top: 3rem;
    font-size: 1rem;
    padding: 1rem;
    width: 15rem;
    font-family: "Inria Serif", serif; /* Apply Inria Serif font */
  }
}

.background {
  background-color: $background-color;
  box-shadow: black 0px 5px 20px;
}
