.section {
  position: relative;
  padding: 2rem 5rem;
  background-color: $background-color-fade;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 0px 20px;

  p,
  ul,
  li {
    font-size: 1rem;
    max-width: calc(50vw - 5rem);
  }

  &:nth-child(2n) {
    background-color: $background-color;
    box-shadow: black 0px 5px 20px;
  }
}

img {
  max-width: 100%;
}
