.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100vw;
  text-shadow: black 0px 2px 2px;
  top: 55vh;

  .name {
    font-size: 4rem;
  }

  .title {
    font-size: 2rem;
  }
}

.spotlight {
  font-size: 4rem;
  margin-bottom: 1.5rem;
}
